*{
    background: #854959;
    text-align: center;

}
h3{
    display: none;
}

#s{
    color: green;
    font-size: 40px;
}

button{
    background: black;
    color: yellow;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    transition: 1s;
}

button:hover{
    background: white;
    color: #854959;
    cursor: pointer;
}